.red {
    color: red;
}

.green {color: green;
}
.blue{color: blue;}
.maroon{color: maroon;}
.brown{color: brown;}
.purple{color: purple;}
.grey{color: grey;}
.yellow{color: yellow;}
.deco{text-decoration: ;}